body{
    font-family: 'Poppins', sans-serif;
margin: 40px;
}
section{
    margin-bottom: 50px;
}

.container{

display: flex;

}
.width{

width: 50%;
}
.container img{

    width: 60%;
    padding-left: 20px;
}

.link{
    text-decoration: none;
    font-weight: 400;
    color: rgb(243, 235, 235);
    padding: 10px 40px;
    background-color: rgb(204, 58, 58);
    border-radius: 10px;
    margin-top: 20px;
}
.h1-text{
    text-align: center;
}

.product-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding-left: 60px;
}



.frame{
    width: 300px;
    height: 550px;
    border: 1px solid tomat;
    box-shadow: 1px 1px 15px gray;
    margin-bottom: 20px;
    background-color: rgba(243, 236, 236, 0.493) ;
    padding: 20px;
}
.frame img{

width: 100%;

}
.rating{
color: goldenrod;
display: flex;
list-style: none;


}
.see-more{
 float: right;
 text-decoration: none;
 color: rgb(196, 42, 93);
 font-size: 28px;
 margin-top: 30px;

}
.donate{

   display: flex;
   
}

.donate img{
    width: 80%;
}

footer{
    text-align: center;
    padding-top: 20px;
    height: 300px;
    color: rgb(230, 221, 221);
    width: 100%;

    background-color: rgb(10, 3, 3);
}

.fab{

    display: flex;
    list-style: none;
    
    padding-right: 20px;
    color: white;
    

}
.fab li{
    text-align: center;
}

@media only screen and (max-width:688px){
    .container img{
        width: 100%;
    }
    
    .container{
        
        grid-template-columns: repeat(1, 1fr) ;
        flex-direction: column;
        width: 100%;

        
    }

    .container, .link{
        padding: 10px;
    }

    .product-album{

        padding-left: 0%;
        grid-template-columns: repeat(1, 1fr);
    }

    .donation, .donate{
width: 100%;
flex-direction: column;
grid-template-columns: repeat(1, 1fr);
padding: 5px ;

    }
    .donate img{
        width: 200px;
    }
}

@media only screen and (min-width: 688px) and (max-width:992px){

    .container{
        
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }


 .product-album{

        padding-left: 0%;
        padding-right: 0%;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .donation, .donate{
        width: 100%;
        
        grid-template-columns: repeat(2, 1fr);
        padding: 5px ;
        
            }
            .donate img{
                width: 300px;
            }




}




